{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
        <h1 class="login-heading">Login</h1>
        {% if form.errors %}
            <p class="login-error">{{ form.errors }}</p>
        {% endif %}
        <form action="{% url 'users:login' %}" method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username" class="login-label">Username</label>
                <input type="text" name="username" id="id_username" class="login-input">
            </div>
            <div class="form-group">
                <label for="id_password" class="login-label">Password</label>
                <input type="password" name="password" id="id_password" class="login-input">
            </div>
            <button type="submit" class="login-button">Submit</button>
            <a href="{% url 'users:password_reset' %}">Forgot a password ?</a>
        </form>
    </div>
{% endblock %}
