{% extends "base.html" %}

{% block content %}

    <div id="search-bar" class="main-search-bar">
        <form action="{% url 'search_product' %}" method="get" class="form-search-bar">
            <input type="text" placeholder="Search..." name="q">
            <button>Search</button>
        </form>
    </div>

    <div id="menu">
        <!-- dropdown menu and other elements go here -->
        <div>Home</div>
        <div>Category 1</div>
        <div>Category 2</div>
        <div>
            {% if user.is_authenticated %}
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'users:profile' %}">{{ user.username }}</a> | <button type="submit" class="button-logout">Log out</button>

                </form>

            {% else %}
                <a href="{% url 'users:login' %}">Login</a> | <a href="{% url 'users:signup' %}">Sign Up</a>
            {% endif %}
        </div>
        <!-- ... -->
    </div>

    <div id="content">
        {% for product in products %}
            <div class="product">
                <a href="{% url 'product_detail' pk=product.pk %}">
                    <h3>{{ product.name }}</h3>
                    <div class="image-container">
                        <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                    </div>
                </a>
                <!--<p>{{ product.description }}</p> -->
                <p>Price: {{ product.price }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
