{% extends "base.html" %}

{% block content %}
<div class="product-detail">
    <h2>{{ product.name }}</h2>
<!--    <div class="product-image">-->
<!--        <img src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}">-->
<!--    </div>  (для отображения первой картинки)-->
    <div class="images">
        {% for image in product.images.all %}
            <img src="{{ image.image.url }}" alt="{{ product.name }}">
        {% endfor %}
    </div>
    <div class="product-info">
        <p>Description: {{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
    </div>
</div>
{% endblock %}
