body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.main_head_name{
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}


#search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* product_detail */
.product-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.images img {
    max-width: 200px; /* Максимальная ширина изображения */
    max-height: 200px; /* Максимальная высота изображения */
    object-fit: cover; /* Растягивает изображение, чтобы оно полностью заполнило заданные размеры, сохраняя при этом пропорции */
    display: block;
    margin: 10px auto 20px;
    border: 2px solid #EFB12E; /* Создать рамку шириной 2px и цвета #ccc */
    border-radius: 8px; /* Закруглить углы рамки */
}
/* product_detail */

/* Стили для ФОТОК */

/* Размер изображений */
.image-container img {
    width: 200px; /* Регулируйте размер по вашему желанию */
    height: auto;
}

/* Рамки для изображений */
.image-container img {
    border: 1px solid #ddd; /* Цвет и ширина рамки */
    border-radius: 5px; /* Округление углов */
    padding: 5px; /* Отступ внутрь рамки */
    margin-bottom: 10px; /* Дополнительный отступ между изображениями */
}

/* Стили для блока товара */
.product {
    margin-bottom: 20px; /* Отступ между блоками товаров */
}


/* Стили для РЕГИСТРАЦИИ */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.signup-form label {
    margin-bottom: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}


/* Search-bar */
.main-search-bar {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.main-search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.main-search-bar button {
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-search-bar button:hover {
    background-color: #665f5f;
}
/* Search-bar */


/* Button logout */
.button-logout {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-logout:hover {
    background-color: #e53935; /* Darker red on hover */
}

a {
    color: #4CAF50; /* Green */
    text-decoration: none;
}

a:hover {
    color: #3e8e41; /* Darker green on hover */
}

/* Button logout */

