body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#content {
    margin-bottom: 140px; /* Высота футера */
}


.main_head_name{
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}


#search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1px 10px;
    text-align: center;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: visibility 0.5s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 9999; /* Установите z-index на самый верхний уровень, чтобы футер был поверх других элементов */
}

.footer.show {
    visibility: visible;
    opacity: 1;
}


.contact-list {
    list-style: none;
    padding: 0;
}

.contact-item {
    margin-bottom: 5px;
}

/* product_detail */
.product-detail {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.images img {
    max-width: 200px; /* Максимальная ширина изображения */
    max-height: 200px; /* Максимальная высота изображения */
    object-fit: cover; /* Растягивает изображение, чтобы оно полностью заполнило заданные размеры, сохраняя при этом пропорции */
    display: block;
    margin: 10px auto 20px;
    border: 2px solid #EFB12E; /* Создать рамку шириной 2px и цвета #ccc */
    border-radius: 8px; /* Закруглить углы рамки */
}
/* product_detail */

/* Стили для ФОТОК */

/* Размер изображений */
.image-container img {
    width: 200px; /* Регулируйте размер по вашему желанию */
    height: auto;
}

/* Рамки для изображений */
.image-container img {
    border: 1px solid #ddd; /* Цвет и ширина рамки */
    border-radius: 5px; /* Округление углов */
    padding: 5px; /* Отступ внутрь рамки */
    margin-bottom: 10px; /* Дополнительный отступ между изображениями */
}

/* Стили для блока товара */
.product {
    margin-bottom: 20px; /* Отступ между блоками товаров */
}


/* Стили для РЕГИСТРАЦИИ */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.signup-form label {
    margin-bottom: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-form button {
    padding: 10px;
    background-color: #75B703;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #8BDA05;
}


/* Search-bar */
.main-search-bar {
    display: grid;
    grid-template-columns: auto min-content; /* Одна колонка будет занимать всё доступное пространство, а другая будет максимально уменьшена до размера контента */
    align-items: center; /* Выравнивание элементов по вертикали */
    max-width: 600px;
    margin: 0 auto;
}

.form-search-bar {
    display: grid;
    grid-template-columns: auto min-content; /* Одна колонка будет занимать всё доступное пространство, а другая будет максимально уменьшена до размера контента */
    align-items: center; /* Выравнивание элементов по вертикали */
}

.form-search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.form-search-bar button {
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-search-bar button:hover {
    background-color: #665f5f;
}
/* Search-bar */



/* Стили для формы профиля пользователя */
.container-profile {
    max-width: 500px;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

/* Стили для кнопки "Save Changes" */
.btn-primary {
    background-color: #75B703;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #8BDA05;
}
/* Стили для кнопки "Save Changes" end */

/* Стили для кнопки "Change-password" */
.button-password-change-class {
    background-color: #75B703;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.button-password-change-class:hover {
    background-color: #8BDA05;
    color: white;
}

.centered {
    text-align: center;
}

/* Стили для кнопки "Change-password" end */

/* Стили для кнопки logout */
.button-logout {
    background-color: #A52738;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-logout:hover {
    background-color: #e53935; /* Darker red on hover */
}

a {
    color: #4CAF50; /* Green */
    text-decoration: none;
}

a:hover {
    color: #3e8e41; /* Darker green on hover */
}



/* Button logout */
.button-logout {
    background-color: #A52738;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-logout:hover {
    background-color: #e53935; /* Darker red on hover */
}

a {
    color: #4CAF50; /* Green */
    text-decoration: none;
}

a:hover {
    color: #3e8e41; /* Darker green on hover */
}

/* Button logout */

/* Pussword change styles */
.container-password-change {
    max-width: 500px;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

/* Стили для полей ввода */
.password-change-form-custom {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

/* Стили для кнопки "Save Changes" */
.button-save-password-changes {
    background-color: #b59233;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-save-password-changes:hover {
    background-color: #806622;
}
/* Pussword change styles end */

/* Login */
.login-container {
    max-width: 500px;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.login-input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.login-button {
    background-color: #806622;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #c4ad37;
}

.login-error {
    color: #ff0000;
    margin-bottom: 10px;
}
/* Login end */

/* Styles for password_change_done.html */
.container-password-change-done {
    max-width: 500px;
    margin: 100px auto;
    background-color: #f9f9f9;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.success-message {
    font-size: 24px;
    margin-bottom: 20px;
    color: #75B703;
}

.success-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.button-go-to-profile {
    background-color: #ad9932;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.button-go-to-profile:hover {
    background-color: #c4ad37;
}
/* Styles for password_change_done.html end */

