<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <title>{% block title %}Nice Store{% endblock %}</title>
</head>
<body>
    <div id="header">
        <a href="{% url 'home' %}" class="main_head_name">
        <h1>{% block header %}Nice Store{% endblock %}</h1>
        </a>

    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <!-- футер с дополнительной информацией -->
    </div>

    <!-- скрипты JavaScript -->
</body>
</html>
